# Port number to run the server locally
PORT=4000

# Connection string for PostgreSQL (example format)
DATABASE_URL=postgres://user:password@localhost:5432/mydb

# Environment: development | production | test
NODE_ENV=development 

# JWT secret key (for authentication)
JWT_REFRESH_TOKEN_SECRET=your_refresh_secret
JWT_ACCESS_TOKEN_SECRET=your_access_secret